    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar" style="background-image: url('https://image.info.bice.cl/lib/fe8e13727c660d7c76/m/6/87fed225-227d-4526-a03d-33d97271f956.jpg'); background-position: center left; background-repeat: no-repeat; background-attachment: fixed;">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" 
                        autocomplete="off"
                        [formGroup]="loginForm"
                        (ngSubmit)="login()"
                        id="loginform">
                    <img src="./assets/images/logo.png" alt="Home" />
                    <div class="form-group m-t-20">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" placeholder="Email" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Password" formControlName="password">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Log In</button>
                        </div>
                    </div>
                    
                </form>
 
            </div>
        </div>
    </section>
    <script>customInitFunctions();</script>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
